@import '../../styles/variables.css';
@import '../../styles/easings.css';
@import '../../styles/breakpoints.css';

.oi{
  width: 100%;
  text-align: center;
  font-size: responsive 52px 180px; /* min-size, max-size */
  font-range: 320px 1280px;
  line-height: 0.9em;

  & .you{
    color: var(--color-black);
  }
  & .mate{
    color: var(--color-madang);
  }
}


