@import '../../../styles/variables.css';

.oi{
  width: 100%;
  text-align: center;
  font-size: responsive 40px 160px; /* min-size, max-size */
  font-range: 320px 1280px;
  line-height: 1.05em;
  /*line-height: responsive 90px 300px;
  line-height-range: 320px 1280px;*/

  & .you{
    color: var(--color-black);
  }
  & .mate{
    color: var(--color-sea-green);
  }
}
