@import '../../styles/variables.css';
@import '../../styles/easings.css';
@import '../../styles/breakpoints.css';


.oi_footer{
  composes: base_section from '../../styles/base.css';
  background-color: var(--bg-page-footer);
  color: var(--color-purple);
}

.footer_wrap {
  composes: base_section_content_wrap from '../../styles/base.css';
  text-align: center;
}

.footer_header{
  font-size: responsive 60px 90px 320px 1280px;
  font-family: 'OiYou';
  text-transform: uppercase;
  line-height: 0.9em;
}

