@import '../../../styles/variables.css';

.oi{
  width: 100%;
  text-align: center;
  font-size: responsive 20px 80px;
  font-range: 320px 1280px;
  line-height: 1.15em;

  & .you{
    color: var(--color-black);
  }
}
